table {
	border: 1px solid black;
	border-collapse:collapse;
}

.red {
	background-color: red;
	margin: 0px;	
	width:25px;
	height:25px;
}

.black {
	background-color: black;
	margin: 0px;
	width:25px;
	height:25px;
}
