body {
	width: 970px;
}

#header {
	background-color:#E8E8E8;
	border-radius: 35px;
	display:block;
	padding:1px 10px 1px 10px;
	margin:5px 40px 20px 5px;
}

#navbar {
	background-color:#E8E8E8;
	border-radius:25px;
	display:inline-block;
	vertical-align:top;
	margin: 10px 10px 5px 5px;
	padding:10px 0px 5px 0px;
	width: 230px;
}

#main {
	background-color:#B8B8B8;
	border-radius:25px;
	display:inline-block;
	vertical-align: top;
	margin: 10px 40px 10px 10px;
	padding: 15px;
	width:640px;
}

#footer {
	background-color:#E8E8E8;
	border-radius:30px;
	display:block;
	margin:10px 40px 20px 5px;
	padding:5px 10px 5px 10px;
}

#header h1 {
	font-size:40px;
}

#navbar a {
	text-decoration:none;
}

#navbar ul {
	list-style-position:inside;
	padding-left:15px;
}

#navbar #home {
}

#main h2 {
	font-size:30px;
}

#main a {
	font-weight:bold;
}

#main ul:nth-child(4) {
	font-weight:normal;
}

#main #simple {
	font-weight:normal;
}

#main #taboo a {
	font-weight:normal;
}

a:visited {
	color:blue;
}

