body { 
	width:970px;
	font-family:Verdana, sans-serif;
	margin: 0px auto;
	background:linear-gradient(#FFFFFF,#EFEFEF,#FFFFFF);
}

#topbar {
	display:inline-block;
	margin:5px 0px 0px 0px;
	padding-bottom:15px;
	width:970px;
}

#topbar h1 {
	display:inline-block;
	color: #2582AC;
	vertical-align:middle;
	font-weight:normal;
}

#topbar #blueword {
	margin-right:180px;
}

#topbar #grayword {
	color: #777779;
}

#topbar img {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	margin-right:5px;
}

#littlebar {
	display:inline;
	border:2px solid #EFEFEF;
	border-radius: 5px;
	padding-bottom:0px;
	padding-top:5px;
	margin-top:5px;
	vertical-align:top;
	color:#777779;
	background-color:#F9F9F9;
}

#littlebar p {
	display:inline;
	color:#777779;
	font-size: 10px;
	padding: 5px 5px 5px 5px;
	margin-top:5px;
	margin-bottom:0px;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: top;
}

#topbar button {
	background: linear-gradient(#4CC2FB, #1F7DB8);
	color:white;
	padding: 3px 15px 3px 15px;
	margin-left:20px;
	margin-right:15px;
	border-radius: 5px;
	vertical-align:top;
	display:inline-block;

}

#blue-bar {
	color:white;
	font-size:22px;
	background:linear-gradient(#2379B0,#1D7CC2,#2379B0);
	width:960px;
	height:60px;
	display:inline-block;
	margin:0px 0px 0px 0px;
}

#blue-bar p {
	display:inline-block;
	padding:0px 0px 10px 10px;
	position:relative;
	bottom:5px;
}


#left-box {
	width: 200px;
	display:inline-block;
	padding: 40px 40px 30px 10px;
}

#left-box h2 {
	color:#166994;
	font-size: 16px;
	font-weight:normal;
}

#left-box h3 {
	color:#D94720;
	font-size:11px;
	margin-bottom:5px;
}

#left-box p {
	font-size:11px;
	margin-top:10px;
}

#left-box #left_p {
	margin-top:0px;
	margin-bottom:20px;
}

#left-box span {
	color: #2585C8;
}

#left-box button {
	background:linear-gradient(#37A1E3,#207FC3);
	color: white;
	font-size:14px;
	border-radius: 5px;
	padding: 5px 30px 5px 30px;
	display:inline-block;
	width:200px;
	margin-top:2px;
	margin-bottom:2px;
	font-weight:bold;
	border:1px solid;
}

#left-box #credit {
	padding-left:20px;
	margin-top:5px;
}

#left-box #navy {
	height:25px;
	width:160px;
	background:linear-gradient(#2B628D,#13446B);
	color:white;	
	font-size:11px;
	font-weight:bold;
	display:inline-block;
	padding:2px 5px 2px 5px;
	vertical-align:middle;
	margin-bottom:80px;
}

#navy img {
	height:15px;
	width:25px;
	display:inline-block;
	vertical-align: middle;
}

#adbox {
	background-image: url('left_content_ad.png');
	background-repeat:no-repeat;
	padding:10px;
	border:1px solid black;
}

#left-box #orange {
	background:linear-gradient(#F69A31,#DA4600);
	display:inline-block;
	margin-bottom:0px;
}

#adbox h4 {
	color:#4B81AC;
	font-size:14px;
	margin-top:0px;
	margin-bottom:10px;
}

#adbox h5 {
	color:#939393;
	font-size:10px;
	margin-top:0px;
	margin-bottom:10px;
}

#home-bar {
	width:700px;
	height:100px;
	display:inline-block;
	margin-top:0;
	margin-bottom:0;
	position:relative;
	bottom:360px;
	left:10px;
}

#phone_box {
	display:inline-block;
	font-size:10px;
	color:#808080;
	margin-bottom:0px;
}

#phone_box h1 {
	font-size:20px;
	color: #42B2EF;
	margin-top:0px;
	margin-bottom: 0px;
	padding: 0px;
}

#phone_box p {
	margin-top:0px;
	margin-bottom:0px;
	padding-top:5px;
	padding-bottom:5px;
}

#home-bar #ppc {
	color:#166994;
	margin-right:350px;
	margin-left:10px;
	display:inline-block;
}

#home-bar hr {
	margin-top:0px;
	margin-bottom:0px;
}

#main {
	display:inline-block;
	width:700px;
	margin-top:0px;
	font-size: 11px;
	position:relative;
	bottom:425px;
	left:240px;

}

#main h1 {
	font-size:16px;
	color:#3482B7;
	display:inline-block;
	margin-left:40px;
}

#main h2 {
	font-weight:bold;
	font-size:11px;
	display:inline-block;
	padding:0px;
	margin:10px 0px 0px 0px;
}

#main p {
	display:inline-block;
	margin-left:40px;
	margin-top:10px;
	margin-bottom:0px;
}

#main li {
	margin-left:20px;
	margin-top:0px;
}

#main ul {
	margin-top:0px;
}

#border-box {
	border: 5px solid #89BCD7;
	display:inline-block;
	margin-left:40px;
	height:140px;
	margin-top:10px;
}

#main span {
	color:#166994;
	text-decoration:underline;
}

#border-box span {
	font-weight:bold;
	color:black;
	text-decoration:none;
	display:inline-block;
}

#border-box p {
	font-size:13px;
	margin-top:5px;
	margin-bottom:0px;
	margin-left:80px;
	vertical-align:top;
	display:inline-block;
	position:relative;
	bottom:55px;

}

#border-box img {
	display:inline-block;
	margin: 5px 0px 0px 5px;
}

#border-box h1 {
	margin-top:10px;
	margin-bottom:0px;
	margin-left:15px;
	vertical-align:top;
}

#border-box button {
	background:linear-gradient(#C5DA70,#92B123, #C5DA70);
	border:2px solid #53761B;
	border-radius:5px;
	color:white;
	font-size:14px;
	margin:5px 10px 5px 80px;
	position:relative;
	bottom:50px;
	height:35px;
	padding-left:20px;
	padding-right:20px;
	vertical-align: top;
}

#main h3 {
	font-size: 13px;
	color:#3482B7;
	margin-left: 40px;
	margin-bottom:0px;
	margin-top:0px;
}