* {
			font-family: optima;
			margin:5px;
			padding:5px;
		}
		.error {
			color: red;
		}
		.success {
			color: green;
		}

		body {
			width: 700px;
			margin: 0px auto;
		}

		input[type="submit"] {
			border: 2px solid black;
			background-color: #0466ee;
			font-size:14px;
			width: 80px;
			color: white;
			margin-left:20px;
		}

		#topbar {
			display: inline-block;
			width: 680px;
			border-bottom: 2px solid black;
		}
		#topbar p, a, h3 {
			display: inline-block;
		}
		#topbar p, a{
			display: inline-block;
			position:relative;
			left:250px;
		}
		#message_box {
			width: 600px;
			height:100px;
			border: 1px solid black;
			margin-top:0px;
		}
		h2 {
			margin-bottom:0px;
			padding-bottom:0px;
		}

		h3 {
			font-size: 14px;
			margin-top: 0px;
			margin-bottom:0px;
			padding-bottom:0px;
		}
		div {
			border: 1px dotted gray;
			background-color: #B8B8B8;
			margin-left: 10px;
			margin-top:15px;
		}
		.comment_div {
			font-size: 14px;
			background-color:#E0E0E0;
		}

		#comment_box {
			width: 400px;
			height:40px;
			border: 1px solid black;
			margin-top:0px;
		}

		#comment {
			background-color: green;
		}

		#delete_messages {
			background-color: red;
			width: 140px;
		}
		#delete_comments {
		background-color: purple;
		width: 140px;
	}